<div class="item-details-container">
    <div class="item-image">
      <img src="{{item.img}}" alt="{{item.name}}">
    </div>
    <div class="item-info">
      <h1 class="item-name">{{item.name}}</h1>
      <p class="item-price">{{item.price}} ₪</p>
      <p class="item-description">{{item.description}}</p>
      <p class="item-category">קטגוריה: {{item.category}}</p>
      <p class="item-makat">מק"ט: {{item.makat}}</p>
      <div class="item-actions">
        <button #addButton class="add-to-cart-button" (click)="add(addButton)">הוסף לסל</button>
        <div class="quantity-selector">
          <label for="quantity">כמות:</label>
          <input type="number" #quantity name="quantity" min="1" value="1">
        </div>
      </div>
    </div>
  </div>