<div class="colerOfppage">

    <header id="top">
        <div class="header-container">
            <div class="logo">
                <!-- הוסף כאן את הלוגו שלך -->
                <img  routerLink="" src="/img/logo.png" alt="Logo" />
            </div>
            <nav>
                <ul>
                    <li>
                        <select name="categories" id="categories" (change)="setTypeOfPage($event)">
                            <option value="byCategories" >קטגוריות</option>
                            <option value="byPrisse>">לפי מחיר מקטן לגדול</option>
                            <option value="byPrisse<">לפי מחיר מגדול לקטן</option>
                            <option value="original">מעורבב</option>

                        </select>
                    </li>
                    <!-- <li><a routerLink="/items">Items</a></li> -->
                    <li><a routerLink="/favorite">Favorite</a></li>
                    <li><a routerLink="/add-item">add new items</a></li>
                </ul>
            </nav>
            <div class="search-cart">
                <app-search></app-search>
                <a routerLink="/cart" class="cart-icon">
    
                    <app-cart-icon></app-cart-icon>
                </a>
            </div>
        </div>
    </header>
    
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <a href="#top" style="text-decoration: none; color: black;">
        <div class="footorButton" >
          מעבר לראש האתר
        </div>
    </a>
    <footer>
    
    </footer>
</div>