<label>maket</label>
<input type="text" [(ngModel)]="item.makat">
<br/>
<label>Name</label>
<input type="text" [(ngModel)]="item.name">
<br/>

<label>description</label>
<input type="text" [(ngModel)]="item.description">
<br/>

<label>price</label>
<input type="number" [(ngModel)]="item.price">
<br/>

<label>qty</label>
<input type="number" [(ngModel)]="item.qty">
<br/>

<label>Category</label>
<input type="text" [(ngModel)]="item.category">
<br/>

<label>img</label>
<input type="text" [(ngModel)]="item.img">
<br/>

<button (click)="addItem()">הוסף </button>