<label>maket</label>
<input type="text" [(ngModel)]="item.Makat">
<br/>
<label>Name</label>
<input type="text" [(ngModel)]="item.Name">
<br/>

<label>description</label>
<input type="text" [(ngModel)]="item.Description">
<br/>

<label>price</label>
<input type="number" [(ngModel)]="item.Price">
<br/>

<label>qty</label>
<input type="number" [(ngModel)]="item.Qty">
<br/>

<label>Category</label>
<input type="text" [(ngModel)]="item.Category">
<br/>

<label>img</label>
<input type="text" [(ngModel)]="item.img">
<br/>

<button (click)="addItem()">הוסף </button>